framework: net452
source https://www.nuget.org/api/v2

group Test
    framework: net452
    source https://www.nuget.org/api/v2

    nuget xunit
    nuget xunit.runner.visualstudio
    nuget FsUnit.xUnit
